.app-body {
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.title__main {
  padding-top: 100px;
  font-size: 40px;
  font-weight: bold;
}

.title__sub {
  font-size: 15px;
}

.content {
  background-color: #ffffff;
  border: medium solid #dbdeff;
  border-radius: 5px;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.pull-down {
  margin: 50px 0px 10px 0px;
}

.pull-down select {
  padding: 5px;
  margin-right: 2px;
  border-radius: 1px;
  background: #ffffff;
  box-shadow: 1px 1px 1px #d9d9d9;
}

.result {
  display: flex;
  width: 180px;
  margin: 0 auto;
}

.result__text {
  height: 36px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 17px;
  border: none;
}

.result__button {
  border: none;
  background: transparent;
}

.result__button :hover {
  cursor: pointer;
}