.body {
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.title {
  padding-top: 100px;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 15px;
}

.cron__app {
  background-color: #ffffff;
  border: medium solid #dbdeff;
  border-radius: 5px;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.cron__menu {
  margin: 50px 0px 30px 0px;
}

.cron__menu select {
  padding: 5px;
  margin-right: 2px;
  border-radius: 1px;
  background: #ffffff;
  box-shadow: 1px 1px 1px #d9d9d9;
}

.cron__result {
  height: 30px;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  border: none;
}

.cron__copy {
  border: none;
  background: transparent;
}

.cron__copy :hover {
  cursor: pointer;
}